In [1]:
%load_ext autoreload
%matplotlib inline

In [2]:
%autoreload 2

import pandas as pd

# Custom imports
from cointegridy.src.classes.sampler import Sampler
from cointegridy.src.classes.data_loader import TreeLoader
from cointegridy.src.classes.Time import Time

True

In [12]:
# NOTE: The goal is to get the prices for coins in any given basket to test for cointegration
# Right now I just want to make sure I can pull the prices for arbitrary time windows, either
# statically (saved locally, preferred), or dynamically (if not saved locally, and then optionally
# save locally)
TreeLoader.reset_metadata()
treeloader = TreeLoader(mode='gen')
sampler = Sampler()

sample_basket = [b for b in sampler.symbol_baskets_gen(num_samps=1)][0]
# sample_symbol = sample_basket[0]
# sample_denom = next(iter(sampler.symbol_to_denoms[sample_symbol]))
sample_symbol = 'BTC'
sample_denom = 'BUSD'
querry_sT, querry_eT = Time.date_to_Time(*(2021,1,1)), Time.date_to_Time(*(2021,1,5))
querry_interval_flag = '6h'

prices = []
for row in treeloader[sample_symbol:sample_denom][querry_sT:querry_eT:querry_interval_flag]:
    prices.append(row)

df = pd.DataFrame(prices, columns=['tmsp', 'open', 'high', 'low', 'close', 'volume'])
df.set_index('tmsp', inplace=True)
df

                  open      high       low     close     volume
tmsp
1.609459e+09  28966.70  29521.33  28766.37  29242.75  17.697879
1.609481e+09  29255.24  29477.98  28884.28  29391.33  20.027980
1.609502e+09  29397.13  29673.51  29031.82  29122.08  14.956875
1.609524e+09  29141.12  29413.13  28723.01  29397.81  15.526826
1.609546e+09  29416.14  29668.79  29027.85  29627.45   9.413276
...                ...       ...       ...       ...        ...
1.611684e+09  32220.20  32892.21  31880.92  32511.92   6.916163
1.611706e+09  32500.22  32587.35  31398.76  31489.88  10.587708
1.611727e+09  31597.17  31945.59  30599.28  30686.17   9.493292
1.611749e+09  30694.22  31044.35  29282.54  30534.62  33.830526
1.611770e+09  30547.76  31708.50  29514.02  30390.25  14.617254

[108 rows x 5 columns]

In [10]:
tmsps = [Time(t) for t in df.index]
df.index = tmsps
df.index.rename("datetime", inplace=True)
df

                         open      high       low     close     volume
datetime
2020-12-31 21:00:00  28966.70  29521.33  28766.37  29242.75  17.697879
2021-01-01 03:00:00  29255.24  29477.98  28884.28  29391.33  20.027980
2021-01-01 09:00:00  29397.13  29673.51  29031.82  29122.08  14.956875
2021-01-01 15:00:00  29141.12  29413.13  28723.01  29397.81  15.526826
2021-01-01 21:00:00  29416.14  29668.79  29027.85  29627.45   9.413276
...                       ...       ...       ...       ...        ...
2021-01-26 15:00:00  32220.20  32892.21  31880.92  32511.92   6.916163
2021-01-26 21:00:00  32500.22  32587.35  31398.76  31489.88  10.587708
2021-01-27 03:00:00  31597.17  31945.59  30599.28  30686.17   9.493292
2021-01-27 09:00:00  30694.22  31044.35  29282.54  30534.62  33.830526
2021-01-27 15:00:00  30547.76  31708.50  29514.02  30390.25  14.617254

[108 rows x 5 columns]